<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Login | Games</title>
  </head>
  <body class="loginbody">
    <header class="loginheader">
      <div>
        <h4>GAMES</h4>
      </div>
      <div class="loginmenu">
        <ul class="loginlinks">
          <li><a href="./register-page.html">REGISTER</a></li>
          <li><a href="./login-page.html">LOG IN</a></li>
        </ul>
      </div>
    </header>
    <main>
      <div class="loginbox">
        <div class="loginboxinfo">
          <div class="loginboxinfos">
            <div>
              <h3>Login Here:</h3>
            </div>
            <div>
              <form action="">
                <p>Email:</p>
                <input type="email" />
                <p>Password:</p>
                <input type="password" />
                <br />
                <input type="submit" value="Login" />
              </form>
            </div>
          </div>
          <div class="loginboxinfos">
              <h3>If you don't have an account yet:</h3>
                <p>To fully use our site, you need to make an account,</p>
                <p>what only takes 2 minutes.</p>
                <p>To make an account, click here:</p>
                <a href="./register-page.html">REGISTER</a>
        </div>
      </div>
    </main>
    <footer>
      <p>Site made as a project for educational purposes | DCI 2023</p>
    </footer>
  </body>
</html>
