.tennis-title {
  color: whitesmoke;
  font-size: calc(1.5rem + 2vw);
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  text-shadow: 3px 3px 3px black, -3px 3px 3px black, 3px -3px 3px black,
    -3px -3px 3px black;
}

.tennis-instruction {
  color: white;
  font-size: 1rem;
  margin: 10px;
  max-width: 800px;
}

.tennis-canvas {
  border: 3px solid rgb(255, 255, 255);
  width: 99%;
  height: 50vh;
  max-width: 800px;
  max-height: 500px;
}

.tennis-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.tennis-controls button {
  background-color: green;
  color: white;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.752);
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  text-shadow: 3px 3px 3px black, -3px 3px 3px black, 3px -3px 3px black,
    -3px -3px 3px black;
}

.tennis-controls button:hover {
  background-color: rgb(0, 65, 0);
}

.tennis-speed {
  background-color: green;
  color: white;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.705);
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  text-shadow: 3px 3px 3px black, -3px 3px 3px black, 3px -3px 3px black,
    -3px -3px 3px black;
}

.speed-btn:hover {
  background-color: rgb(0, 65, 0);
}

@media only screen and (max-width: 600px) {
  .tennis-controls button, .tennis-speed {
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0.5rem;
  }
}

