/* .pageContainer {
	background-color: black;
	color: whitesmoke;
} */

.hero {
	background-image: url(https://img.freepik.com/free-vector/cartoon-computer-games-night-forest-landscape-plant-green-natural-environment-wood-grass_1284-41530.jpg?w=1380&t=st=1699455968~exp=1699456568~hmac=ae163aa743b51e71af22362f1b493b53562c88b65d7c1ed240085754f1f088dd);
	background-repeat: repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero-title {
	color: whitesmoke;
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
}

.hero-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Btn edits */
.btn-container{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;  
  margin-top: 30px;
  gap: 50px;
}

.btn {
  width: 150px;
	display: flex;
  justify-content: center;
	background-color: white;
	color: black;
	font-size: 1.5rem;
	padding: 1rem;
  border: 3px solid black;
	border-radius: 20px;
	cursor: pointer;
}
