/* TO FIND YOUR STYLING FOLLOW THE ORDER */

/* 01. MAIN PAGE + ADDITIONAL STYLES USED IN WHOLE PROJECT */
/* 02. NAVBAR COMPONENT */
/* 03. FOOTER COMPONENT */
/* 04. REGISTER PAGE */
/* 05. LOGIN PAGE */
/* 06. BAL PAGE */
/* 07. MENU (UPPER BUTTONS) IN BAL PAGE */
/* 08. STYLING FOR HELP BUTTON IN BAL PAGE */
/* 09. GAME CANVAS */
/* 10. MOVE BUTTONS (DIRECTION BUTTONS) IN BAL GAME */
/* 11. MEDIA QUERIES */

:root {
  --fontsize-xs: 0.8rem;
  --fontsize-s: 0.9rem;
  --fontsize-m: 1rem;
  --fontsize-l: 1.1rem;
  --fontsize-xl: 1.2rem;
  --radius-xs: 20px;
  --radius-s: 22px;
  --radius-m: 24px;
  --radius-l: 26px;
  --radius-xl: 28px;
  --radius-menu: 10px;
}

.page {
  width: 100%;
  /* Dynamic viewport height for mobile phones */
  height: 100vh;
  height: 100dvh;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  background-image: url("./Images/background.jpg");
  background-repeat: repeat-x;
  background-size: auto 100%;
}

p {
  margin-top: 0.5rem;
}

.topmargin {
  margin-top: 1rem;
}

.bold {
  font-weight: bold;
}

/* 01. MAIN PAGE + ADDITIONAL STYLES USED IN WHOLE PROJECT */

.boxWithScroll {
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  border-radius: 70px;
  padding: 1.5rem;
  width: 90%;
  max-width: 800px;
  height: 60vh;
  height: 60dvh;
  margin: auto;
  box-shadow: 0px 3px 3px black, 3px 0px 3px black, -3px 0px 3px black,
    0px -3px 3px black;
  overflow-y: scroll;
}

/*
.boxWithScroll::-webkit-scrollbar-thumb {
  background-color: white;
  box-shadow: 3px 3px 3px inset grey;
}

.boxWithScroll::-webkit-scrollbar-track {
  background-color: darkgray;
}
*/

h4 {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

h5 {
  width: 90%;
  margin: auto;
  font-size: 1rem;
  margin-top: 1.5rem;
  padding-bottom: 1rem;
}

header {
  width: 100%;
  height: 3rem;
}

main {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: whitesmoke;
  font-size: calc(0.8rem + 2.5vw);
  font-weight: bold;
  text-align: center;
  padding: 2rem 0;
  text-shadow: 3px 3px 3px black, -3px 3px 3px black, 3px -3px 3px black,
    -3px -3px 3px black;
}

.button {
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
  font-weight: 700;
  cursor: pointer;
}

.button-container {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 2rem;
}

.registerHeader h3,
.loginBoxInfo h3 {
  text-align: center;
  font-size: calc(0.6rem + 1vw);
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.registerSubmit,
.loginSubmit {
  display: flex;
  justify-content: center;
}

.link {
  color: white;
  text-decoration: underline;
}

/* 02. NAVBAR COMPONENT */

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 0.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  padding: 5px 15px;
  box-shadow: 0px 5px 5px black;
}

.navbar p {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #3f812e;
}

.navbar h1 {
  text-shadow: 2px 2px 0px #2f711e;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 900;
  margin-left: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.gameButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

/* 03. FOOTER COMPONENT */

.footerContainer {
  color: white;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  box-shadow: 0px -5px 5px black;
  margin-bottom: 0.5rem;
}

.footerInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
}

.footerInfo a {
  color: white;
  text-decoration: none;
}

/* 04. REGISTER PAGE */

.registerBox {
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 70px;
  padding: 1.5rem;
  width: 50%;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 3px 3px black, 3px 0px 3px black, -3px 0px 3px black,
    0px -3px 3px black;
}

.registerBoxInfo {
  display: flex;
  flex-direction: row;
  color: white;
  height: 100%;
}

.registerBoxInfos {
  width: 50%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerForm {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height: 100%;
}

.registerPhoto {
  width: 90%;
  display: block;
}

form p {
  font-size: 100%;
  margin-left: 0.5rem;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding-left: 0.5rem;
  color: white;
  height: 1.5rem;
  font-size: 1.3rem;
}

.registerSubmit input {
  padding: 1rem 2rem;
  margin-top: 0.75rem;
  background-color: rgba(255, 255, 255, 0.65);
  color: black;
  border: none;
  font-size: 100%;
  font-weight: 700;
  border-radius: 30px;
  box-shadow: 2px 2px 8px inset #ebe9ed, -2px -2px 8px inset #ebe9ed;
}

/* 05. LOGIN PAGE */

.loginBox {
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 70px;
  padding: 1.5rem;
  width: 50%;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 3px black, 3px 0px 3px black, -3px 0px 3px black,
    0px -3px 3px black;
}

.loginBoxInfo {
  display: flex;
  flex-direction: column;
  color: white;
  height: 100%;
  width: 50%;
}

.loginBoxOne {
  width: 40%;
}

.loginBoxTwo {
  width: 60%;
}

.form-label {
  margin-bottom: 0.5rem;
  font-size: calc(0.4rem + 1vh);
  font-size: calc(0.4rem + 1dvh);
}

.loginBoxInfos {
  height: 100%;
  width: 80%;
  margin: auto;
}

.loginBoxInfos p {
  margin-bottom: 0.5rem;
  font-size: calc(0.6rem + 1vh);
  font-size: calc(0.6rem + 1dvh);
  font-weight: 300;
  text-align: center;
}

.loginSubmit {
  padding-top: 1.2rem;
}

.loginToRegister {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
}

.loginPicture {
  display: flex;
  justify-content: center;
}

.loginPicture img {
  width: 90%;
}

/* 06. BAL PAGE */

.balPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 10%;
  color: white;
}

.balPanelText {
  font-size: 1.2rem;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.45);
  padding: min(0.7vw, 10px);
  box-shadow: 0px 1px 1px black, 1px 0px 1px black, -1px 0px 1px black,
    0px -1px 1px black;
  border-radius: 20px;
  margin: 0 min(0.7vw, 25px);
}

.balButton {
  font-size: 1.2rem;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  padding: min(0.7vw, 10px);
  margin: 0 min(0.7vw, 25px);
  box-shadow: 0px 1px 1px black, 1px 0px 1px black, -1px 0px 1px black,
    0px -1px 1px black;
  border-radius: 30px;
  cursor: pointer;
  min-width: 3rem;
}

/* 07. MENU (UPPER BUTTONS) IN BAL PAGE */

.menu {
  position: relative;
  display: inline-block;
}

.menu-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px 2px inset rgba(255, 255, 255, 0.5),
    -2px 2px 2px inset rgba(255, 255, 255, 0.5),
    2px -2px 2px inset rgba(255, 255, 255, 0.5),
    -2px -2px 2px inset rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  min-width: 200px;
  z-index: 1;
}

.menu-content div {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu-content div:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  cursor: pointer;
}

.menu-content div:hover:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.menu-content div:hover:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.menu-content div label:hover {
  cursor: pointer;
}

.menu-content input {
  margin-right: 0.5rem;
}

.menu:hover .menu-content {
  display: block;
}

/* 08. STYLING FOR HELP BUTTON IN BAL PAGE */

/* https://jsfiddle.net/strider820/84AsW/1/ */

.help {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}

.help-content {
  position: relative;
  background-color: darkgreen;
  margin: 15% auto;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.help-header {
  background-color: rgb(84, 176, 84);
  color: white;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.help-main {
  color: whitesmoke;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.help-close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.help-close:hover,
.help-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

table {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

th,
td {
  text-align: left;
  padding: 0.25rem;
}

tr:nth-child(odd) td {
  background-color: #004400;
}

tr:nth-child(even) td {
  background-color: #005500;
}

/* 09. GAME CANVAS */

.gameCanvas {
  margin-bottom: 0rem;
  height: 50vh;
  height: 50dvh;
  width: 99%;
  /*image-rendering: pixelated;*/
  /*image-rendering: crisp-edges;*/
}

/* 10. MOVE BUTTONS (DIRECTION BUTTONS) IN BAL GAME */

.canvasAndButtons {
  width: 100%;
  margin-top: 0rem;
  margin-bottom: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  row-gap: 0rem;
}

.moveButtons {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}

.moveButtons button {
  background-color: rgba(0, 0, 0, 0.65);
  color: black;
  font-size: 0.1rem;
  cursor: pointer;
  padding: 5px 5px;
  border-radius: 50%;
  box-shadow: 0px 1px 1px black, 1px 0px 1px black, -1px 0px 1px black,
    0px -1px 1px black;
  margin: 0 min(1.7vw, 25px);
}

.moveButtons button img {
  width: 7vw;
  height: 7vw;
  max-width: 30px;
  max-height: 30px;
}

/* 11. MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  .hideSmall {
    display: none;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .registerBox {
    width: 90%;
  }
  .loginBox {
    width: 90%;
  }
  .button {
    padding: 0.125rem 0.25rem;
    font-size: var(--fontsize-xs);
    border-radius: var(--radius-xs);
  }
  .balButton {
    font-size: var(--fontsize-xs);
    border-radius: var(--radius-xs);
  }
  .balPanelText {
    font-size: var(--fontsize-xs);
    border-radius: var(--radius-xs);
  }
  .balPanelTextSpan {
    font-size: var(--fontsize-xs);
  }
  .help-content {
    width: 100%;
  }
  .menu-content {
    font-size: var(--fontsize-xs);
    box-shadow: 1px 1px 1px inset rgba(255, 255, 255, 0.5),
      -1px 1px 1px inset rgba(255, 255, 255, 0.5),
      1px -1px 1px inset rgba(255, 255, 255, 0.5),
      -1px -1px 1px inset rgba(255, 255, 255, 0.5);
    border-radius: var(--radius-menu);
    min-width: 70px;
  }
  .menu-content div {
    padding: 5px 5px;
  }
  .menu-content div:hover:first-child {
    border-top-left-radius: var(--radius-menu);
    border-top-right-radius: var(--radius-menu);
  }
  .menu-content div:hover:last-child {
    border-bottom-left-radius: var(--radius-menu);
    border-bottom-right-radius: var(--radius-menu);
  }
  .menu-content input {
    margin-right: 0.5rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .registerBox {
    width: 90%;
  }
  .loginBox {
    width: 90%;
  }
  .button {
    padding: 0.125rem 0.25rem;
    font-size: var(--fontsize-s);
    border-radius: var(--radius-s);
  }
  .balButton {
    font-size: var(--fontsize-s);
    border-radius: var(--radius-s);
  }
  .balPanelText {
    font-size: var(--fontsize-s);
    border-radius: var(--radius-s);
  }
  .balPanelTextSpan {
    font-size: var(--fontsize-s);
  }
  .help-content {
    width: 100%;
  }
  .menu-content {
    font-size: var(--fontsize-s);
    box-shadow: 1px 1px 1px inset rgba(255, 255, 255, 0.5),
      -1px 1px 1px inset rgba(255, 255, 255, 0.5),
      1px -1px 1px inset rgba(255, 255, 255, 0.5),
      -1px -1px 1px inset rgba(255, 255, 255, 0.5);
    border-radius: var(--radius-menu);
    min-width: 70px;
  }
  .menu-content div {
    padding: 5px 5px;
  }
  .menu-content div:hover:first-child {
    border-top-left-radius: var(--radius-menu);
    border-top-right-radius: var(--radius-menu);
  }
  .menu-content div:hover:last-child {
    border-bottom-left-radius: var(--radius-menu);
    border-bottom-right-radius: var(--radius-menu);
  }
  .menu-content input {
    margin-right: 0.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .registerBox {
    width: 70%;
  }
  .loginBox {
    width: 70%;
  }
  .button {
    padding: 0.25rem 0.5rem;
    font-size: var(--fontsize-m);
    border-radius: var(--radius-m);
  }
  .balButton {
    font-size: var(--fontsize-m);
    border-radius: var(--radius-m);
  }
  .balPanelText {
    font-size: var(--fontsize-m);
    border-radius: var(--radius-m);
  }
  .balPanelTextSpan {
    font-size: var(--fontsize-m);
  }
  .menu-content {
    font-size: var(--fontsize-m);
    box-shadow: 2px 2px 2px inset rgba(255, 255, 255, 0.5),
      -2px 2px 2px inset rgba(255, 255, 255, 0.5),
      2px -2px 2px inset rgba(255, 255, 255, 0.5),
      -2px -2px 2px inset rgba(255, 255, 255, 0.5);
    border-radius: var(--radius-menu);
    min-width: 200px;
  }
  .help-content {
    width: 80%;
  }
  .menu-content div {
    padding: 12px 16px;
  }
  .menu-content div:hover:first-child {
    border-top-left-radius: var(--radius-menu);
    border-top-right-radius: var(--radius-menu);
  }
  .menu-content div:hover:last-child {
    border-bottom-left-radius: var(--radius-menu);
    border-bottom-right-radius: var(--radius-menu);
  }
  .menu-content input {
    margin-right: 0.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .registerBox {
    width: 50%;
  }
  .loginBox {
    width: 50%;
  }
  .button {
    padding: 0.5rem 1rem;
    font-size: var(--fontsize-l);
    border-radius: var(--radius-l);
  }
  .balButton {
    font-size: var(--fontsize-l);
    border-radius: var(--radius-l);
  }
  .balPanelText {
    font-size: var(--fontsize-l);
    border-radius: var(--radius-l);
  }
  .balPanelTextSpan {
    font-size: var(--fontsize-l);
  }
  .help-content {
    width: 80%;
  }
  .menu-content {
    font-size: var(--fontsize-l);
    box-shadow: 2px 2px 2px inset rgba(255, 255, 255, 0.5),
      -2px 2px 2px inset rgba(255, 255, 255, 0.5),
      2px -2px 2px inset rgba(255, 255, 255, 0.5),
      -2px -2px 2px inset rgba(255, 255, 255, 0.5);
    border-radius: var(--radius-menu);
    min-width: 200px;
  }
  .menu-content div {
    padding: 12px 16px;
  }
  .menu-content div:hover:first-child {
    border-top-left-radius: var(--radius-menu);
    border-top-right-radius: var(--radius-menu);
  }
  .menu-content div:hover:last-child {
    border-bottom-left-radius: var(--radius-menu);
    border-bottom-right-radius: var(--radius-menu);
  }
  .menu-content input {
    margin-right: 0.5rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .registerBox {
    width: 50%;
  }
  .loginBox {
    width: 50%;
  }
  .button {
    padding: 0.5rem 1rem;
    font-size: var(--fontsize-xl);
    border-radius: var(--radius-xl);
  }
  .balButton {
    font-size: var(--fontsize-xl);
    border-radius: var(--radius-xl);
  }
  .balPanelText {
    font-size: var(--fontsize-xl);
    border-radius: var(--radius-xl);
  }
  .balPanelTextSpan {
    font-size: var(--fontsize-xl);
  }
  .help-content {
    width: 80%;
  }
  .menu-content {
    font-size: var(--fontsize-xl);
    box-shadow: 2px 2px 2px inset rgba(255, 255, 255, 0.5),
      -2px 2px 2px inset rgba(255, 255, 255, 0.5),
      2px -2px 2px inset rgba(255, 255, 255, 0.5),
      -2px -2px 2px inset rgba(255, 255, 255, 0.5);
    border-radius: var(--radius-menu);
    min-width: 200px;
  }
  .menu-content div {
    padding: 12px 16px;
  }
  .menu-content div:hover:first-child {
    border-top-left-radius: var(--radius-menu);
    border-top-right-radius: var(--radius-menu);
  }
  .menu-content div:hover:last-child {
    border-bottom-left-radius: var(--radius-menu);
    border-bottom-right-radius: var(--radius-menu);
  }
  .menu-content input {
    margin-right: 0.5rem;
  }
}
