.page {
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  height: 3rem;
}

main {
  width: 100%;
  min-height: calc(100vh - 3rem);
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("./Images/background.jpg");
  background-repeat: repeat-x;
  background-size: auto 100%;
}

.title {
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 600px) {
  .title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 800px) {
  .title {
    font-size: 3rem;
  }
}

.button {
  margin: 0 auto;
  margin-top: 1.5rem;
  width: auto;
  background-color: #ffffff;
  color: black;
  padding: 0.5rem;
  border-radius: 15px;
  cursor: pointer;
}

.button-container {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 2rem;
}


/* Bal */

.balPanel {
  display: flex;
  margin-bottom: 1rem;
}

.gameCanvas {
  height: 60%;
  width: 60%;
  margin-bottom: 1rem;
}

.levelSelector {
  color: white;
  font-size: large;
}


/* from here TODO */

.loginNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
}

.logo h1 {
  color: #000000;
  margin: 0;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  margin-left: 20px;
}

.nav-links {
  display: flex;
}

/* Style for the last link to remove the margin */
.nav-links a:last-child {
  margin-right: 0;
}




.loginBox {
  /* border: 4px solid green; */
  background-color: rgba(0, 0, 0, 0.61);
  min-width: 500px;
  border-radius: 150px;
  padding: 2rem;
  width: 50%;
  height: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginBoxInfo {
  /* border: 3px solid pink; */
  display: flex;
  flex-direction: row;
  color: whitesmoke;
}

.loginBoxInfos {
  /* border: 2px solid yellow; */
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginBox {
  /* border: 4px solid green; */
  background-color: rgba(0, 0, 0, 0.61);
  min-width: 500px;
  border-radius: 150px;
  padding: 2rem;
  width: 50%;
  height: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registerHeader {
  text-align: center;
}

.registerHeader h3 {
  text-align: center;
  font-size: 1.5rem;
}

.registerForm {
  /* border: 2px solid brown; */
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-label {
  margin-bottom: 0.5rem;
}

.alternate-LoginBox {
  /* border: 2px solid purple; */
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footerContainer {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

